<a href="https://colab.research.google.com/github/eliot28/analisis_texto/blob/master/Limpieza_DataSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import drive
drive.mount("/content/drive")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [24]:
df = pd.read_csv('/content/drive/My Drive/Diplomado Ing. Ciencia Datos/Taller de Proyecto/Dataset/DataSet_SOC.csv')

In [25]:
columnas = pd.DataFrame(df.dtypes)
print(columnas)

                                  0
Unnamed: 0                    int64
SUBORDEN                      int64
FECHA_COMPRA                 object
METODO_DESPACHO              object
FECHA_PACTADA                object
FECHA_ENTREGA                object
DIAS_COMPRA_PACTADA           int64
DIAS_COMPRA_ENTREGA           int64
ABASTECIMIENTO               object
DESPACHO_DIRECTO_PROVEEDOR    int64
PRECIO_SUBORDEN               int64
PRECIO_DESPACHO             float64
METODO_PAGO                  object
CATEGORIA                    object
PESO_KG                     float64
VOLUMEN_M3                  float64
BIG_TICKET                    int64
COMUNA                       object
EMPRESA_TRASPORTISTA         object
CUMPLIMIENTO                  int64
RECLAMO                       int64
FECHA_RECLAMO                object
DIAS_RECLAMO                float64
DIAS_INCUMPLIMIENTO           int64
EDAD                        float64
SEXO                         object

In [26]:
len(df)

1972865

In [27]:
df['ABASTECIMIENTO'].value_counts()

CD Omnicanal LOF2                               632606
Venta a Distancia                               481433
(CT Venta en Verde)  FALABELLA RETAIL S.A.      384113
(CD Santiago) FALABELLA RETAIL S.A.             182056
CT PERFUMERIA                                   120122
CT BIG TICKET DVD                                53746
Proveedor                                        39201
CT HUB-CROSS DOCK MUEBLES                        25173
CT ESTACIONALES                                  24846
CT HUB-CROSS DOCK                                23108
(Plaza Egaña) FALABELLA RETAIL S.A.               1967
(Plaza Vespucio)  FALABELLA RETAIL S.A.            796
(Falabella Gris Lyon) FALABELLA RETAIL S.A.        761
(Lyon)   FALABELLA RETAIL S.A.                     609
(Plaza Oeste)  FALABELLA RETAIL S.A.               577
(Tobalaba)  FALABELLA RETAIL S.A.                  307
(Mall Arauco Maipú) Falabella Retail S.A.          302
(Tienda Los Dominicos) FALABELLA RETAIL S.A.       287
(Manquehue) FALABELLA RETAIL S.A.                  233
(Plaza Norte)  FALABELLA RETAIL S.A.               213
(Parque Arauco)  FALABELLA RETAIL S.A.             136
CT MANQUEHUE                                       125
(Alto las Condes)  FALABELLA RETAIL S.A.           101
(Costanera Center) Falabella Retail S.A.            34
(CT Express) Falabella Retail S.A.                   9
(Mango Parque Arauco)  FALABELLA RETAIL S.A.         4
Name: ABASTECIMIENTO, dtype: int64

Remplazar texto que diga falabella

In [28]:
df['ABASTECIMIENTO']=df['ABASTECIMIENTO'].apply(lambda x: x. replace('FALABELLA RETAIL S.A.', ''))
df['ABASTECIMIENTO']=df['ABASTECIMIENTO'].apply(lambda x: x. replace('Falabella Retail S.A.', ''))
df['ABASTECIMIENTO'].value_counts()

CD Omnicanal LOF2            632606
Venta a Distancia            481433
(CT Venta en Verde)          384113
(CD Santiago)                182056
CT PERFUMERIA                120122
CT BIG TICKET DVD             53746
Proveedor                     39201
CT HUB-CROSS DOCK MUEBLES     25173
CT ESTACIONALES               24846
CT HUB-CROSS DOCK             23108
(Plaza Egaña)                  1967
(Plaza Vespucio)                796
(Falabella Gris Lyon)           761
(Lyon)                          609
(Plaza Oeste)                   577
(Tobalaba)                      307
(Mall Arauco Maipú)             302
(Tienda Los Dominicos)          287
(Manquehue)                     233
(Plaza Norte)                   213
(Parque Arauco)                 136
CT MANQUEHUE                    125
(Alto las Condes)               101
(Costanera Center)               34
(CT Express)                      9
(Mango Parque Arauco)             4
Name: ABASTECIMIENTO, dtype: int64

Cliente F

In [29]:
df['CATEGORIA'].value_counts()

CLIENTE_NORMAL    1254114
CLIENTE_F          718751
Name: CATEGORIA, dtype: int64

In [30]:
df['CATEGORIA'] = df['CATEGORIA'].apply(lambda x: x. replace('CLIENTE_NORMAL', '0'))
df['CATEGORIA'] = df['CATEGORIA'].apply(lambda x: x. replace('CLIENTE_F', '1'))
df['CATEGORIA'].value_counts()

0    1254114
1     718751
Name: CATEGORIA, dtype: int64

In [31]:
df = df.rename(columns={'CATEGORIA':'CLIENTE_FRECUENTE'})

In [32]:
columnas = pd.DataFrame(df.dtypes)
print(columnas)

                                  0
Unnamed: 0                    int64
SUBORDEN                      int64
FECHA_COMPRA                 object
METODO_DESPACHO              object
FECHA_PACTADA                object
FECHA_ENTREGA                object
DIAS_COMPRA_PACTADA           int64
DIAS_COMPRA_ENTREGA           int64
ABASTECIMIENTO               object
DESPACHO_DIRECTO_PROVEEDOR    int64
PRECIO_SUBORDEN               int64
PRECIO_DESPACHO             float64
METODO_PAGO                  object
CLIENTE_FRECUENTE            object
PESO_KG                     float64
VOLUMEN_M3                  float64
BIG_TICKET                    int64
COMUNA                       object
EMPRESA_TRASPORTISTA         object
CUMPLIMIENTO                  int64
RECLAMO                       int64
FECHA_RECLAMO                object
DIAS_RECLAMO                float64
DIAS_INCUMPLIMIENTO           int64
EDAD                        float64
SEXO                         object

In [33]:
df = df.drop(columns=['Unnamed: 0'])

In [34]:
vista = df.head(10)
print(vista)

       SUBORDEN         FECHA_COMPRA  ... EDAD SEXO
0  144045662486  2020-03-09 19:19:46  ...  NaN  NaN
1  144045662486  2020-03-09 19:19:46  ...  NaN  NaN
2  144045345573  2020-03-01 17:52:44  ...  NaN  NaN
3  144045894549  2020-03-15 10:03:26  ...  NaN  NaN
4  144045325289  2020-03-01 02:11:04  ...  NaN  NaN
5  144045764040  2020-03-11 20:26:53  ...  NaN  NaN
6  144045917855  2020-03-15 22:49:00  ...  NaN  NaN
7  144045855358  2020-03-13 23:41:28  ...  NaN  NaN
8  144045852751  2020-03-13 23:38:31  ...  NaN  NaN
9  144045626548  2020-03-08 18:54:36  ...  NaN  NaN

[10 rows x 25 columns]

In [35]:
df.to_csv('/content/drive/My Drive/Diplomado Ing. Ciencia Datos/Taller de Proyecto/Dataset/DataSet_SOC.csv',index=False)